<!DOCTYPE html>
<html>
  <head>
    <% if Rails.env.production? %>
      <title>Yelpdemo Heroku</title>
    <% else %>
      <title>Yelpdemo Local</title>
    <% end %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= render 'layouts/bootstrap' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <div class="container-fluid">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
